<header class="header">
  <div class="title">
    <p class="header-title">Inventario equipos de cómputo</p>
  </div>
  <div class="navigation">
    <ul class="navigation-items">
      <li>
        <a href="{% url 'inventario_app:add-inventario' %}">Agregar</a>
      </li>
      <li>
          <a href="{% url 'inventario_app:lista-inventario' %}">Inventario</a>
      </li>
      <li>
        <a href="#" class="boton-sec">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</header>
<div class="franja"></div>